{% extends "base.html" %}
{% load static %}
{% block title %}
Sargasso Reclamation - TURNING THE SCARS OF TODAY INTO PRODUCTS OF TOMORROW
{% endblock %}
{% block content %}
    <!--Start Home-->
    <section class="home-b-img d-flex align-items-center min-vh-100" id="home">
        <div class="bg-overlay">
            	<div class="home-slider owl-carousel js-fullheight">
      <div class="slider-item js-fullheight" style="background-image: url({% static 'assets/img/sargasso.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>Sargasso Reclamation</h2>
		            <h4 class="mb-3 fs-56 fw-bolder">TURNING THE SCARS OF TODAY INTO PRODUCTS OF TOMORROW.</h4>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url({% static 'assets/img/bg.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>Sargasso Reclamation</h2>
		            <h1 class="mb-2 fs-56">No.1 OCEAN CLEANUP COMPANY ALONG THE COAST OF AFRICA</h1>
	            </div>
	          </div>
	        </div>
        </div>
      </div>

      <div class="slider-item js-fullheight" style="background-image: url({% static 'assets/img/market.webp' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
	          <div class="col-md-12 ftco-animate">
	          	<div class="text w-100 text-center">
	          		<h2>Sargasso Reclamation</h2>
		            <h1 class="mb-3 fs-56">We believe in producing best products</h1>
	            </div>
	          </div>
	        </div>
        </div>
      </div>
    </div>
        </div>

    </section>
    <!--End Home-->

   

    <!-- Start impact -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize">About <span class="fw-bold">Us</span></h3>
                        <div class="main-title-border bg-primary  mx-auto"></div>
                        <p class="text-secondary mx-auto mt-2">With backgrounds in environmental NGOs and the Kenya business community, our team came together with the idea of creating the ocean plastic products we now supply. We quickly discovered the plastics we needed were not widely available and pivoted to collecting and supplying the raw material for the sector. This background feeds our passion for startups and innovative products, and informs a passion for pushing the 
                            bounds of the ocean plastic sector and bringing our product to the end user in new and innovative ways</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-4 vertical-content">
                <div class="col-lg-6">
                    <div class="mt-3">
                        <img src="{% static 'assets/img/team.webp' %}" class="img-fluid mx-auto d-block" alt="" title="Features">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mt-3">
                        <div>
                            <h2 class="features-heading">Our Mission and Vision.</h2>
                            <div class="main-title-border bg-primary "></div>
                        </div>
                        <div class="features position-relative">
                            <div class="features-icon float-start fs-18 position-absolute rounded-pill text-primary bg-primary bg-opacity-25 text-center">
                                <i class="mdi mdi-check"></i>
                            </div>
                            <div class="ms-5">
                                <h3 class="fs-18 fw-bold">Our Mission</h3>
                                <p class="pt-2 text-secondary">To create a healthy, price competitive recycling sector in East Africa, using international innovations to boost sales prices for recycled plastics in the market. To then leverage this position to strengthen the sectors stability by sharing our windfall across stakeholders, fostering firm financial foundations, lifestyle stability at pride
                                     of work across the value chain, thereby insuring that ecological regeneration is not reliant on global commodity price</p>
                            </div>
                        </div>

                        <div class="features position-relative">
                            <div class="features-icon float-start fs-18 position-absolute rounded-pill text-primary bg-primary bg-opacity-25 text-center">
                                <i class="mdi mdi-check"></i>
                            </div>
                            <div class="ms-5">
                                <h3 class="fs-18 fw-bold">Our Vision</h3>
                                <p class="pt-2 text-secondary">A key weakness of the fast-growing recycling sector in Africa is low margins mean bad deals for investors and workers that stifle development for an ecologically foundational sector that has benefits across the biosphere. By leverage ocean plastic markets and in time other sources of added value, 
                                    we are creating a healthier recycling sector for Africa that can fully leverage market mechanisms to solve the crisis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-4 vertical-content">
                <div class="col-lg-6">
                    <div class="mt-3">
                        <div>
                            <h2 class="features-heading">Our Product Impact.</h2>
                            <div class="main-title-border bg-primary "></div>
                        </div>
                        <div class="features position-relative">
                            <div class="features-icon float-start fs-18 position-absolute rounded-pill text-primary bg-primary bg-opacity-25 text-center">
                                <i class="mdi mdi-check"></i>
                            </div>
                            <div class="ms-5">
                                <h3 class="fs-18 fw-bold">Environmental Conservation</h3>
                                <p class="fs-15 pt-2 text-secondary">You want customer to your store. Easily publish your coupans and when a user has manage to catch one of your coupens.</p>
                            </div>
                        </div>

                        <div class="features position-relative">
                            <div class="features-icon float-start fs-18 position-absolute rounded-pill text-primary bg-primary bg-opacity-25 text-center">
                                <i class="mdi mdi-check"></i>
                            </div>
                            <div class="ms-5">
                                <h3 class="fs-18 fw-bold">Planing & Strategy</h3>
                                <p class="pt-2 text-secondary">You want customer to your store. Easily publish your coupans and when a user has manage to catch one of your coupens.</p>
                            </div>
                        </div>

                        <div class="features position-relative">
                            <div class="features-icon float-start fs-18 position-absolute rounded-pill text-primary bg-primary bg-opacity-25 text-center">
                                <i class="mdi mdi-check"></i>
                            </div>
                            <div class="ms-5">
                                <h3 class="fs-18 fw-bold">Economic and social transformation</h3>
                                <p class="pt-2 text-secondary">You want customer to your store. Easily publish your coupans and when a user has manage to catch one of your coupens.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mt-3">
                        <img src="{% static 'assets/img/loading.webp' %}" class="img-fluid mx-auto d-block" alt="" title="Features">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Features -->


     <!-- Start Video -->
    <section class="section bg-video">
        <div class="bg-overlay"></div>
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize text-white">Watch Our <span class="fw-bold">Video</span></h3>
                        <div class="main-title-border bg-primary  mx-auto"></div>
                        <p class=" h4 fs-36 fw-bolder text-white  sec_subtitle mx-auto mt-2">Are you Ready? Join Us in Our Recycling Efforts</p>
                    </div>
                </div>
            </div>
            <div class="row mt-2 pt-2">
                <div class="col-lg-12">
                    <div class="mx-auto">
                        <div class="video-btn-white text-center">
                            <a href="#video-play" class="play-btn-white video_play mx-auto">
                                    <button id=" video-play" type="button" class=" btn btn-outline bg-transparent border-0 m-0 p-0 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa fa-play text-center text-white"></i>
                                </button>
                            </a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content bg-transparent border-0">
                                    <div class="modal-body p-0 w-auto h-auto overflow-hidden d-inline-flex justify-content-center">
                                        <div>
                                            <div class="modal-header border-0">
                                                <button type="button" class="bg-transparent text-white border-0 ms-auto p-0 me-4 pe-5" data-bs-dismiss="modal" aria-label="Close"><i class="mdi mdi-close text-white fs-5"></i></button>
                                            </div>
                                            <iframe width="900" height="450" src="https://www.youtube.com/embed/DgbXNbW46LY?si=St-6NTZ0ZdSOnfNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Video -->



    <!-- Start How It Work -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize">How It <span class="fw-bold">Work?</span></h3>
                        <div class="main-title-border bg-primary mx-auto"></div>
                        <p class="text-secondary mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-4">
                <div class="col-lg-4 position-relative">
                    <div class="text-center mt-3 p-3">
                        <div class="work_number fs-80 position-absolute start-0 end-0">1.</div>
                        <div class="z-index position-relative">
                            <div class="fs-1">
                                <i class="pe-7s-bookmarks text-primary"></i>
                            </div>
                            <div class="work_content mt-4">
                                <h5 class="fw-bold">Sourcing</h5>
                                <p class="mt-3 text-secondary mb-0">Malindi, Kenya is near a coastal garbage gyration that is one of the largest off the African coast. It has a long-standing infrastructure as a fishing port. This makes it the perfect location for collecting marine refuse that can be recycled. In 2020, we identified the opportunity of collecting for fishermen, and as the economy rebounds expanding to sourcing plastic caught every day in their fishing nets off Malindi.
                                     We purchase today from out of work fisherman, which both keeps plastic out of the ocean, and helps to grow the local economt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 position-relative">
                    <div class="text-center work_border_left border-1 border-start border-secondary border-opacity-25 mt-3 p-3">
                        <div class="work_number fs-80 position-absolute start-0 end-0">2.</div>
                        <div class="z-index position-relative">
                            <div class="fs-1">
                                <i class="pe-7s-network text-primary"></i>
                            </div>
                            <div class="work_content mt-4">
                                <h5 class="fw-bold">Production</h5>
                                <p class="mt-3 text-secondary mb-0">Sargasso produces reclaimed ocean plastic flakes by washing, shredding and bailing the bottles we purchase from local fishermen. In 2020, we identified the opportunity of collecting for fishermen, and as the economy rebounds expanding to sourcing plastic caught every day in their fishing nets off Malindi.
                                     We purchase today from out of work fisherman, which both keeps plastic out of the ocean, and helps to grow the local economy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 position-relative">
                    <div class="text-center work_border_left border-1 border-start border-secondary border-opacity-25 mt-3 p-3">
                        <div class="work_number fs-80 position-absolute start-0 end-0">3.</div>
                        <div class="z-index position-relative">
                            <div class="fs-1">
                                <i class="pe-7s-compass text-primary"></i>
                            </div>
                            <div class="work_content mt-4">
                                <h5 class="fw-bold">Going to the Market</h5>
                                <p class="mt-3 text-secondary mb-0">Because of the international trade infrastructure that is being developed in Kenya, and a fast growing local market it standard plastic recycling, we are able to offer both ocean-bound plastic in a recycled form, and plastic credits linked to ocean-bound plastic sold on recycling markets.
Please reach out if you are looking for a cost effective partner in either regenerative strategy. We worth within relatively impoverished fishing communities, buying plastic from the beach sourced from the friends and family of fishermen, and hoping to source plastic from the deeper ocean in the future by leveraging our network with fishing captains and boat owners.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End How It Work -->

    <!-- Start Video -->
    <section class="section bg-video ">
        <div class="bg-overlay"></div>
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize text-white">More about <span class="fw-bold">Us</span></h3>
                        <div class="main-title-border bg-primary  mx-auto"></div>
                        <p class="text-secondary sec_subtitle mx-auto mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-0 pt-0">
                <div class="col-lg-12">
                    <div class="mx-auto">
                        <div class="video-btn-white text-center">
                            <a href="#video-play" class="play-btn-white video_play mx-auto">
                                    <button id=" video-play" type="button" class="bg-transparent border-0 m-0 p-0 mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="pe-7s-play  text-center text-white"></i>
                                </button>
                                <span>Watch Video</span>
                            </a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content bg-transparent border-0">
                                    <div class="modal-body p-0 w-auto h-auto overflow-hidden d-inline-flex justify-content-center">
                                        <div>
                                            <div class="modal-header border-0">
                                                <button type="button" class="bg-transparent text-white border-0 ms-auto p-0 me-4 pe-5" data-bs-dismiss="modal" aria-label="Close"><i class="mdi mdi-close text-white fs-5"></i></button>
                                            </div>
                                            <iframe src="https://player.vimeo.com/video/99025203?h=0788a7a47b&title=0&byline=0&portrait=0&badge=0" width="990" height="460" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Video -->

    <!-- Start Client -->
    <section class="section bg-light" id="client">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize">testimonials</h3>
                        <div class="main-title-border bg-primary  mx-auto"></div>
                        <p class="text-secondary sec_subtitle mx-auto mt-2">Hear from our clients and stories of Impact and Transformation</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4 pt-4">
                 {% for testimonial in testimonial %}
                <div class="col-lg-4">
                    <div class="testi_boxes bg-white p-4 mt-3 rounded">
                        <div class="testi_icon text-primary">
                          
                            <i class="fa fa-quote-left  fs-64 d-inline-block bg-primary bg-opacity-10" aria-hidden="true"></i>
                        </div>
                        <div class="mt-4">
                            <p class="client_review text-secondary mb-0 fst-italic">{{ testimonial.testimony}}</p>
                            <h5 class="fs-17 mb-0 mt-4 fw-bold">- {{ testimonial.name}}</h5>
                            <p class="text-primary ms-2 ps-1 mb-0">{{ testimonial.title}}</p>
                        </div>
                    </div>
                </div>
               {%endfor %}
            </div>
        </div>
    </section>
    <!-- End Client -->



   <!-- Start Great People -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize">Our <span class="fw-bold">Partners</span></h3>
                        <div class="main-title-border bg-primary  mx-auto"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-2">
                    <div class="logo_img">
                        <img src="{% static 'assets/img/mrgreen.jpg' %}" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="logo_img">
                        <img src="{% static 'assets/img/pixel.jpg' %}" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="logo_img">
                        <img src="{% static 'assets/img/allamu.jpg' %}" alt="logo-img" class="mx-auto img-fluid d-block">
                    </div>
                </div>
          
            </div>
        </div>
    </section>
    <!-- End Great People -->

    <!-- Start news and events 
    <section class="section" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="text-center">
                        <h3 class="mb-0 text-capitalize">News<span class="fw-bold"> & Events</span></h3>
                        <div class="main-title-border bg-primary mx-auto"></div>
                         </div>
                </div>
            </div>
            <div class="row mt-4 pt-4">
                <div class="col-lg-4 border-2 border-end border-info border-opacity-25">
                    <div class="p-3">
                        <div class="faq_number">
                            <h4 class="  fw-bold mb-0"><a href="#" class="text-dark fw-bolder ">Recycled Ocean Plastic PET</a></h4>
                        </div>
                        <div class="mt-2">
                            <p class="text-primary fs-13 mb-0">Sept. 28, 2023, 7:32 a.m.</p>
                            <p class="text-secondary">The issue of plastic pollution in our oceans has reached critical levels, posing a significant
                                 threat to marine life and ecosystems. To combat this crisis, innovative solutions are needed. One .</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-2 border-end border-info border-opacity-25">
                    <div class="p-3">
                        <div class="faq_number">
                            <h2 class="fw-bold text-primary mb-0">02.</h2>
                        </div>
                        <div class="mt-2">
                            <p class="text-primary fs-13 mb-0">For User</p>
                            <h5 class="fs-18 fw-bold"> What is Item Support?</h5>
                            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-3">
                        <div class="faq_number">
                            <h2 class="fw-bold text-primary mb-0">03.</h2>
                        </div>
                        <div class="mt-2">
                            <p class="text-primary fs-13 mb-0">For User</p>
                            <h5 class="fs-18 fw-bold">Where Is My Purchase Code?</h5>
                            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="p-3">
                        <div class="faq_number">
                            <h2 class="fw-bold text-primary mb-0">04.</h2>
                        </div>
                        <div class="mt-2">
                            <p class="text-secondary fs-13 mb-0">For Advertiser</p>
                            <h5 class="fs-18 fw-bold">How to Contact an Author?</h5>
                            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-3">
                        <div class="faq_number">
                            <h2 class="fw-bold text-primary mb-0">05.</h2>
                        </div>
                        <div class="mt-2">
                            <p class="text-secondary fs-13 mb-0">For Advertiser</p>
                            <h5 class="fs-18 fw-bold">What is Lorem Ipsum?</h5>
                            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-3">
                        <div class="faq_number">
                            <h2 class="fw-bold text-primary mb-0">06.</h2>
                        </div>
                        <div class="mt-2">
                            <p class="text-secondary fs-13 mb-0">For Advertiser</p>
                            <h5 class="fs-18 fw-bold"> Why use Lorem Ipsum?</h5>
                            <p class="text-secondary">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

-->

    <!-- Start Footer -->


{% endblock %}